@font-face {
    font-family: 'Kangbujang';
    src: url('./Kangbujang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.hello {
    color: pink;
    font-family: Kangbujang;
    /*background: url('./icon.svg') center no-repeat;*/
    width: 300px;
    height: 86px;
}
